@font-face {
	font-family: 'Dosis';
	src: url('../fonts/Dosis-ExtraLight.woff2') format('woff2'),
	url('../fonts/Dosis-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	box-sizing: inherit;
	font-family: 'Dosis', sans-serif;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.container {
	display: flex;
	margin: 0;
	padding: 0;
}	
.account {
	display: flex;
	flex-direction: column;
	background-color: #343a40;
	min-width: 20%;
	max-width: 50%;
	height: 100vh;
	margin-right: auto;
}

.account_setting {
	flex-grow: 1;
	width: 100%;
	height: 150px;
	text-align: center;
	margin: 20px auto;
}

.imgWrapper {
	display: inline-block;
	box-shadow: 0 0 10px black;
	width: 100px;
	height: 100px;
	margin: 10px 0;
	border-radius: 50%;
}

.account_img {
	display: block;
	width: 100%;
	border-radius: 50%;

}

.account_username {
	color: #fff;
	font-size: 30px;
	margin: 10px 0 20px;
	padding: 0;
	text-shadow: 0 0 10px black;
}

.editLink {
	text-decoration: none;
	color: #fff;
}

.editLink:hover {
	text-decoration: underline;
}

.logOutBtn {
	width: 100%;
	height: 40px;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	background-color: #343a40;
	transition: 0.3s ease;	
	color: #fff;
	text-shadow: 0 0 10px black;
	border: 3px solid transparent;
}

.logOutBtn:hover {
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #fff;
}

/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/
/*===============================================*/

.wrapper_chat {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	background-image: url(../images/chat-bg.jpg);
	background-size: 17%;
	background-position: center center;
	overflow: hidden;
}

.chat_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #343a40;
}

.chat_heading {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	margin: 0 0 5px;
	padding: 0;
	letter-spacing: 3px;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 10px black;
}

.typing {
	color: #fff;
	font-style: italic;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
}

.posts {
	width: 100%;
	position: relative;
	margin: 0 auto;
	flex-grow: 1;
	padding: 0;
	display: flex;
	overflow: auto;
	flex-direction: column-reverse;
	align-items: flex-end;
	list-style-type: none;
	box-shadow: 0 0 10px black inset;
}

.one_post {
	max-width: 65%;
	margin: 0 10px 5px;
	margin-right: auto;
	display: flex;
	align-items: flex-end;
}

.my {
	margin-right: 20px;
	margin-left: auto;
}

.my .username{
	display: none;
}

.my .user_photo {
	display: none;
}

.my .one_post__post {
	margin-left: 10px;
	padding: 10px 15px;
	background-color: #343a40;
	background-color: rgba(52, 58, 64, 0.9);
	border-radius: 25px 25px 0 25px;
}

.user_photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #000;
	box-shadow: 0 0 5px black;
}

.one_post__post {
	margin-left: 10px;
	padding: 10px 15px;
	background-color: #343a40;
	background-color: rgba(52, 58, 64, 0.9);
	box-shadow: 0 0 10px black inset;
	border-radius: 25px 25px 25px 0;
}

.one_post__post div {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.username {	
	padding: 0;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: bold;
	color: yellow;
	margin: 0;
}

.username_post {
	padding: 0;
	color: #fff;
	margin: 0;
}

.time {
	font-size: 12px;
	margin: 5px 7px 0 7px;
	color: #fff;
	margin-left: 20px;
}

.date {
	margin: 5px auto;
	padding: 2px 15px;
	letter-spacing: 2px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0 0 10px black inset;
	color: #fff;
	text-align: center;
	border-radius: 20px;
}
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
/*=======================================================*/
.form div {
	display: flex;
	overflow: hidden;
	height: 40px;
}

.postInput {
	width: 95%;
	border: none;
	padding: 12px;
	color: #fff;
	background-color: #343a40;
}

.send {
	font-family: 'Dosis', sans-serif;
	color: #fff;
	padding: 0 30px;
	font-size: 20px;
	background-color: #343a40;
	transition: 0.5s ease;
	border: none;
}

.send:hover  {
	color: skyblue;
	cursor: pointer;
	font-weight: bold;
}