<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <form id="form">
        <p id="message"></p>    
        <h1 id="title">CREATE NEW</h1>
        <input id="username" type="text" name="username" placeholder="username" autocomplete="off" required>
        <input id="password" type="password" minlength="6" name="password" placeholder="password" autocomplete="off" required>
        <a id="createLink" href="/">Login</a>
        <button id="login" type="submit">Create</button>
    </form>
    
    <script src="js/create.js"></script>
</body>
</html>