<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/login.css">
</head>
<body>

	<form id="form">
		<p id="message"></p>	
		<h1 id="title">LOGIN</h1>
		<input id="username" type="text" name="username" placeholder="username" autocomplete="off" required>
		<input id="password" type="password" name="password" placeholder="password" autocomplete="off" required>
		<a id="createLink" href="/create">Create new account</a>
		<button id="login" type="submiy">Login</button>
	</form>
	
	<script src="js/login.js"></script>
</body>
</html>